In [1]:
import pandas as pd
import numpy as np

# Read dog intakes and outcomes data

In [2]:
intakes_data = pd.read_csv('dog_intakes_unified.csv', dtype={
    'AnimalID': 'string',
    'ID': 'string',
    'Breed': 'category',
    'Color': 'category',
    'Gender': 'category',
    'Name': 'string',
    'Intake-DateTime': 'string',
    'Intake-Type': 'category',
    'Intake-Condition': 'category',
    'Intake-Age(days)': 'int',
    'Found-Location': 'string'
}, parse_dates=['Intake-DateTime'])

In [3]:
intakes_data.dtypes

AnimalID            string[python]
ID                  string[python]
Breed                     category
Color                     category
Gender                    category
Name                string[python]
Intake-DateTime     datetime64[ns]
Intake-Type               category
Intake-Condition          category
Intake-Age(days)             int32
Found-Location      string[python]
dtype: object

In [4]:
intakes_data

,AnimalID,ID,Breed,Color,Gender,Name,Intake-DateTime,Intake-Type,Intake-Condition,Intake-Age(days),Found-Location
0,A006100,A006100,Spinone Italiano,Yellow,Male,Scamp,2014-03-07 14:26:00,Public Assist,Normal,2190,8700 Research in Austin (TX)
1,A006100,A006100+,Spinone Italiano,Yellow,Male,Scamp,2014-12-19 10:21:00,Public Assist,Normal,2555,8700 Research Blvd in Austin (TX)
2,A006100,A006100++,Spinone Italiano,Yellow,Male,Scamp,2017-12-07 14:07:00,Stray,Normal,3650,Colony Creek And Hunters Trace in Austin (TX)
3,A047759,A006101,Dachshund,Tricolor,Male,Oreo,2014-04-02 15:55:00,Owner Surrender,Normal,3650,Austin (TX)
4,A134067,A134067,Shetland Sheepdog,Brown,Male,Bandit,2013-11-16 09:02:00,Public Assist,Injured,12190,12034 Research Blvd in Austin (TX)
...,...,...,...,...,...,...,...,...,...,...,...
87059,A893570,A893570,Rottweiler,Black,Female,<NA>,2023-11-23 12:17:00,Stray,Normal,730,5500 Burleson Rd in Austin (TX)
87060,A893573,A893573,Border Terrier,Brown,NaN,<NA>,2023-11-23 13:45:00,Stray,Normal,730,10909 Maha Loop Rd in Travis (TX)
87061,A893578,A893578,American Staffordshire Terrier,Yellow Brindle,Male,Tiger,2023-11-23 20:19:00,Stray,Injured,240,South Mopac Highway in Austin (TX)
87062,A893579,A893579,American Staffordshire Terrier,Black,Male,<NA>,2023-11-23 21:00:00,Stray,Injured,730,South Mopac Highway in Austin (TX)
87063,A893585,A893585,German Shepherd,Black,Male,Unknown,2023-11-23 20:19:00,Stray,Injured,30,Outside Jurisdiction

In [5]:
outcomes_data = pd.read_csv('dog_outcomes_unified.csv', dtype={
    'AnimalID': 'string',
    'ID': 'string',
    'Breed': 'category',
    'Color': 'category',
    'Gender': 'category',
    'Name': 'string',
    'Date-Of-Birth': 'string',
    'Outcome-DateTime': 'string',
    'Outcome-Type': 'category',
    'Outcome-Subtype': 'category',
    'Outcome-Age(days)': 'int'
}, parse_dates=['Date-Of-Birth', 'Outcome-DateTime'])

In [6]:
outcomes_data.dtypes

AnimalID             string[python]
ID                   string[python]
Breed                      category
Color                      category
Gender                     category
Name                 string[python]
Date-Of-Birth        datetime64[ns]
Outcome-DateTime     datetime64[ns]
Outcome-Type               category
Outcome-Subtype            category
Outcome-Age(days)             int32
dtype: object

### Add a new column of age category according to the outcomes age

In [7]:
conditions = [
    (outcomes_data['Outcome-Age(days)'] <= 180),
    (outcomes_data['Outcome-Age(days)'] > 180) & (outcomes_data['Outcome-Age(days)'] <= 730),
    (outcomes_data['Outcome-Age(days)'] > 730) & (outcomes_data['Outcome-Age(days)'] <= 2555),
    (outcomes_data['Outcome-Age(days)'] > 2555)
]
values = ['Baby', 'Young', 'Adult', 'Senior']

outcomes_data['Age'] = np.select(conditions, values)

In [8]:
outcomes_data

,AnimalID,ID,Breed,Color,Gender,Name,Date-Of-Birth,Outcome-DateTime,Outcome-Type,Outcome-Subtype,Outcome-Age(days),Age
0,A006100,A006100,Spinone Italiano,Yellow,Male,Scamp,2007-07-09,2014-03-08 17:10:00,Return to Owner,NaN,2435,Adult
1,A006100,A006100+,Spinone Italiano,Yellow,Male,Scamp,2007-07-09,2014-12-20 16:35:00,Return to Owner,NaN,2722,Senior
2,A006100,A006100++,Spinone Italiano,Yellow,Male,Scamp,2007-07-09,2017-12-07 00:00:00,Return to Owner,NaN,3804,Senior
3,A047759,A047759,Dachshund,Tricolor,Male,Oreo,2004-04-02,2014-04-07 15:12:00,Transfer,Partner,3658,Senior
4,A134067,A134067,Shetland Sheepdog,Brown,Male,Bandit,1997-10-16,2013-11-16 11:54:00,Return to Owner,NaN,5875,Senior
...,...,...,...,...,...,...,...,...,...,...,...,...
86974,A893431,A893431,Chihuahua,Tricolor,Female,Chili,2015-11-21,2023-11-21 15:41:00,Return to Owner,NaN,2923,Senior
86975,A893432,A893432,Chihuahua,Tan,Female,Coco,2015-11-21,2023-11-21 15:41:00,Return to Owner,NaN,2923,Senior
86976,A893452,A893452,Maltese,White,Female,Sophie,2016-11-21,2023-11-22 11:26:00,Return to Owner,NaN,2557,Senior
86977,A893529,A893529,Labrador Retriever,White,Female,<NA>,2023-09-22,2023-11-22 16:51:00,Transfer,Partner,62,Baby
86978,A893585,A893585,German Shepherd,Black,Male,Unknown,2023-09-24,2023-11-24 14:12:00,Transfer,Partner,62,Baby

# Merge intakes and outcomes dataframes

In [9]:
left_merged = pd.merge(intakes_data, outcomes_data, how="left", on=["AnimalID", "ID", "Breed", "Color", "Gender", "Name"], indicator=True, validate="1:1")
left_merged['Outcome-Age(days)']=left_merged['Outcome-Age(days)'].astype('Int64')
left_merged.dtypes

AnimalID             string[python]
ID                   string[python]
Breed                        object
Color                      category
Gender                     category
Name                 string[python]
Intake-DateTime      datetime64[ns]
Intake-Type                category
Intake-Condition           category
Intake-Age(days)              int32
Found-Location       string[python]
Date-Of-Birth        datetime64[ns]
Outcome-DateTime     datetime64[ns]
Outcome-Type               category
Outcome-Subtype            category
Outcome-Age(days)             Int64
Age                          object
_merge                     category
dtype: object

In [10]:
left_merged

,AnimalID,ID,Breed,Color,Gender,Name,Intake-DateTime,Intake-Type,Intake-Condition,Intake-Age(days),Found-Location,Date-Of-Birth,Outcome-DateTime,Outcome-Type,Outcome-Subtype,Outcome-Age(days),Age,_merge
0,A006100,A006100,Spinone Italiano,Yellow,Male,Scamp,2014-03-07 14:26:00,Public Assist,Normal,2190,8700 Research in Austin (TX),2007-07-09,2014-03-08 17:10:00,Return to Owner,NaN,2435,Adult,both
1,A006100,A006100+,Spinone Italiano,Yellow,Male,Scamp,2014-12-19 10:21:00,Public Assist,Normal,2555,8700 Research Blvd in Austin (TX),2007-07-09,2014-12-20 16:35:00,Return to Owner,NaN,2722,Senior,both
2,A006100,A006100++,Spinone Italiano,Yellow,Male,Scamp,2017-12-07 14:07:00,Stray,Normal,3650,Colony Creek And Hunters Trace in Austin (TX),2007-07-09,2017-12-07 00:00:00,Return to Owner,NaN,3804,Senior,both
3,A047759,A006101,Dachshund,Tricolor,Male,Oreo,2014-04-02 15:55:00,Owner Surrender,Normal,3650,Austin (TX),NaT,NaT,NaN,NaN,<NA>,NaN,left_only
4,A134067,A134067,Shetland Sheepdog,Brown,Male,Bandit,2013-11-16 09:02:00,Public Assist,Injured,12190,12034 Research Blvd in Austin (TX),1997-10-16,2013-11-16 11:54:00,Return to Owner,NaN,5875,Senior,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87059,A893570,A893570,Rottweiler,Black,Female,<NA>,2023-11-23 12:17:00,Stray,Normal,730,5500 Burleson Rd in Austin (TX),NaT,NaT,NaN,NaN,<NA>,NaN,left_only
87060,A893573,A893573,Border Terrier,Brown,NaN,<NA>,2023-11-23 13:45:00,Stray,Normal,730,10909 Maha Loop Rd in Travis (TX),NaT,NaT,NaN,NaN,<NA>,NaN,left_only
87061,A893578,A893578,American Staffordshire Terrier,Yellow Brindle,Male,Tiger,2023-11-23 20:19:00,Stray,Injured,240,South Mopac Highway in Austin (TX),NaT,NaT,NaN,NaN,<NA>,NaN,left_only
87062,A893579,A893579,American Staffordshire Terrier,Black,Male,<NA>,2023-11-23 21:00:00,Stray,Injured,730,South Mopac Highway in Austin (TX),NaT,NaT,NaN,NaN,<NA>,NaN,left_only
87063,A893585,A893585,German Shepherd,Black,Male,Unknown,2023-11-23 20:19:00,Stray,Injured,30,Outside Jurisdiction,2023-09-24,2023-11-24 14:12:00,Transfer,Partner,62,Baby,both

# Read dog breeds data

In [11]:
breed_data = pd.read_csv('breed_data.csv', dtype={
    'Breed': 'string',
    'Category': 'category',
    'Intelligence-Ranking': 'Int64',
    'Intelligence-Category': 'category',
    'Size-Category': 'category',
    'Lifetime-Cost($)': 'Int64',
    'Purchase-Cost($)': 'Int64'
})
breed_data.dtypes

Breed                    string[python]
Category                       category
Intelligence-Ranking              Int64
Intelligence-Category          category
Size-Category                  category
Lifetime-Cost($)                  Int64
Purchase-Cost($)                  Int64
dtype: object

In [12]:
breed_data

,Breed,Category,Intelligence-Ranking,Intelligence-Category,Size-Category,Lifetime-Cost($),Purchase-Cost($)
0,Affenpinscher,Toy,37,Above-Average,Small,15835,510
1,Afghan Hound,Hound,80,Lowest,Large,20818,890
2,Airedale Terrier,Terrier,29,Above-Average,Medium,<NA>,733
3,Akita,Working,54,Average,Large,18217,1202
4,Alaskan Malamute,Working,50,Average,Large,19069,1210
...,...,...,...,...,...,...,...
167,Whippet,Hound,51,Average,Medium,18160,915
168,Wire Fox Terrier,Terrier,51,Average,Small,<NA>,668
169,Wirehaired Pointing Griffon,Sporting,46,Average,Medium,<NA>,755
170,Xoloitzcuintli,Non-Sporting,<NA>,NaN,Medium,<NA>,717
171,Yorkshire Terrier,Toy,27,Above-Average,Small,17944,1057

### Join breed data to shelter dog data

In [13]:
data = pd.merge(left_merged, breed_data, how="left", on=["Breed"])
data

,AnimalID,ID,Breed,Color,Gender,Name,Intake-DateTime,Intake-Type,Intake-Condition,Intake-Age(days),...,Outcome-Subtype,Outcome-Age(days),Age,_merge,Category,Intelligence-Ranking,Intelligence-Category,Size-Category,Lifetime-Cost($),Purchase-Cost($)
0,A006100,A006100,Spinone Italiano,Yellow,Male,Scamp,2014-03-07 14:26:00,Public Assist,Normal,2190,...,NaN,2435,Adult,both,Sporting,<NA>,NaN,Large,<NA>,1725
1,A006100,A006100+,Spinone Italiano,Yellow,Male,Scamp,2014-12-19 10:21:00,Public Assist,Normal,2555,...,NaN,2722,Senior,both,Sporting,<NA>,NaN,Large,<NA>,1725
2,A006100,A006100++,Spinone Italiano,Yellow,Male,Scamp,2017-12-07 14:07:00,Stray,Normal,3650,...,NaN,3804,Senior,both,Sporting,<NA>,NaN,Large,<NA>,1725
3,A047759,A006101,Dachshund,Tricolor,Male,Oreo,2014-04-02 15:55:00,Owner Surrender,Normal,3650,...,NaN,<NA>,NaN,left_only,Hound,49,Average,Small,17350,423
4,A134067,A134067,Shetland Sheepdog,Brown,Male,Bandit,2013-11-16 09:02:00,Public Assist,Injured,12190,...,NaN,5875,Senior,both,Herding,6,Brightest,Small,17469,465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87059,A893570,A893570,Rottweiler,Black,Female,<NA>,2023-11-23 12:17:00,Stray,Normal,730,...,NaN,<NA>,NaN,left_only,Working,9,Brightest,Large,16395,1118
87060,A893573,A893573,Border Terrier,Brown,NaN,<NA>,2023-11-23 13:45:00,Stray,Normal,730,...,NaN,<NA>,NaN,left_only,Terrier,30,Above-Average,Small,19575,833
87061,A893578,A893578,American Staffordshire Terrier,Yellow Brindle,Male,Tiger,2023-11-23 20:19:00,Stray,Injured,240,...,NaN,<NA>,NaN,left_only,Terrier,34,Above-Average,Medium,<NA>,1043
87062,A893579,A893579,American Staffordshire Terrier,Black,Male,<NA>,2023-11-23 21:00:00,Stray,Injured,730,...,NaN,<NA>,NaN,left_only,Terrier,34,Above-Average,Medium,<NA>,1043
87063,A893585,A893585,German Shepherd,Black,Male,Unknown,2023-11-23 20:19:00,Stray,Injured,30,...,Partner,62,Baby,both,Herding,3,Brightest,Large,15091,820

### Read active dogs data from petfinder

In [26]:
petfinder = pd.read_csv('petfinder_unified.csv', dtype={
    'Petfinder-ID': 'string',
    'Name': 'string',
    'Size': 'category',
    'Gender': 'category',
    'Age': 'category',
    'Color': 'category',
    'Breed': 'category'
})
petfinder.dtypes

Petfinder-ID    string[python]
Name            string[python]
Size                  category
Gender                category
Age                   category
Color                 category
Breed                 category
dtype: object

In [27]:
petfinder

,Petfinder-ID,Name,Size,Gender,Age,Color,Breed
0,65653819,Eloise,Large,Female,Adult,Gray,Bull Terrier
1,68926034,Penny,Medium,Female,Baby,Black,Labrador Retriever
2,69110281,Brad,Large,Male,Adult,NaN,German Shepherd
3,69313950,Pirate,Extra Large,Male,Baby,Tricolor,Saint Bernard
4,69340682,Fiona,Small,Female,Senior,Apricot,Chihuahua
...,...,...,...,...,...,...,...
13897,69816084,NORA - 3 mo. old gentle quiet smart curious baby,Large,Female,Baby,Yellow,Labrador Retriever
13898,69816093,Paisley,Medium,Female,Young,NaN,Parson Russell Terrier
13899,69816100,Blaze,Medium,Male,Baby,Black,American Staffordshire Terrier
13900,69816106,Hank,Large,Male,Young,NaN,German Shepherd
13901,69816108,Molly,Medium,Female,Baby,Red,Australian Cattle Dog

### Join breed data to petfinder dog data

In [30]:
petfinder_data = pd.merge(petfinder, breed_data, how="left", on=["Breed"])
petfinder_data

,Petfinder-ID,Name,Size,Gender,Age,Color,Breed,Category,Intelligence-Ranking,Intelligence-Category,Size-Category,Lifetime-Cost($),Purchase-Cost($)
0,65653819,Eloise,Large,Female,Adult,Gray,Bull Terrier,Terrier,66,Fair,Medium,16051,1085
1,68926034,Penny,Medium,Female,Baby,Black,Labrador Retriever,Sporting,7,Brightest,Medium,18422,810
2,69110281,Brad,Large,Male,Adult,NaN,German Shepherd,Herding,3,Brightest,Large,15091,820
3,69313950,Pirate,Extra Large,Male,Baby,Tricolor,Saint Bernard,Working,65,Fair,Large,17336,875
4,69340682,Fiona,Small,Female,Senior,Apricot,Chihuahua,Toy,67,Fair,Small,22640,588
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13897,69816084,NORA - 3 mo. old gentle quiet smart curious baby,Large,Female,Baby,Yellow,Labrador Retriever,Sporting,7,Brightest,Medium,18422,810
13898,69816093,Paisley,Medium,Female,Young,NaN,Parson Russell Terrier,Terrier,<NA>,NaN,Small,<NA>,528
13899,69816100,Blaze,Medium,Male,Baby,Black,American Staffordshire Terrier,Terrier,34,Above-Average,Medium,<NA>,1043
13900,69816106,Hank,Large,Male,Young,NaN,German Shepherd,Herding,3,Brightest,Large,15091,820
13901,69816108,Molly,Medium,Female,Baby,Red,Australian Cattle Dog,Herding,10,Brightest,Medium,17607,530